$body_color: #CFCECD;
$app_color: #325253;
$app_border: 15px solid #74C0C2;
$font_color: #D3D3D3;
$button_bckg: #2C494A;
$btn_hover_color: #DFE1E1;
$cell_size: 18px;

body{
  background: linear-gradient(to left, #CFCECD,#677C82);
  .App{
    user-select: none;
    background-color: $app_color;
    text-align: center;
    margin: 1% auto;
    width: 660px;
    height: 100%;
    border: $app_border;
    border-radius: 20px 20px 10px 10px;
    box-shadow: -10px -10px 300px 5px #398282;
    color: $font_color;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 1%;
    h1{
      text-shadow: 2px 2px 3px $body_color;
      font-size: 3em;
    }
    h5{
      text-transform: uppercase;
    }
    .btn-toolbar{
      .btn-group{
        margin: 0 0 5px 115px;
        button{
          background-color: $button_bckg;
          color: $font_color;
          font-weight: 700;
          outline: none;
          &:hover{
            background-color: $btn_hover_color;
            color: #000000;
          }
        }
      }
    }
    .grid_board{
      position: relative;
      top: -2px;
      margin: auto;
      .cell{
        height: $cell_size;
        width: $cell_size;
        display: block;
        float: left;
        border: 1px solid black;
        box-shadow: -2px -2px 2px #858282;
        transition-delay: 0.001s;
        &:hover{
          box-shadow: -1px -1px 1px 1.5px #3B3A3A;
        }
      }
    }
  } 
}